torch~=2.2

transformers~=4.39.2 
accelerate~=0.28 
datasets~=2.18
evaluate~=0.4.1

pynvml # To measure GPU memory

sagemaker # for get_execution_role in util
sagemaker-inference # serializer and deserializer

tensorboardX

toml