torch~=2.1

transformers~=4.36 
accelerate~=0.21
datasets~=2.15
evaluate~=0.4.1

pynvml # To measure GPU memory

sagemaker # for get_execution_role in util
sagemaker-inference # serializer and deserializer

tensorboardX

toml
